.deletionForm {
  color: white;
  font-size: 20px;
}

.page-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Create 3 equal columns */
  align-items: center; /* Vertically align all items */
  gap: 20px; /* Adds some space between columns */
}

.header-title {
  text-align: center;
}

.completed-options-btn {
  grid-column: 3;
}
